<%= render :partial => "layouts/header" %>

<div id="content">
    <%= render :partial => "layouts/app_description" %>
    <%= render :partial => "word_cloud" %>
    <%= render :partial => "analysis_form" %>
    <%= render :partial => 'layouts/flash_messages' %>
</div>